
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #d9f101;
  color: #000000;
  background-image: url('pp.jpg'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Optional: Makes the background fixed while scrolling */
}

header {
  color: #efff08;
  background:#e40606;
  color: #ec9d08;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5rem;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}

section {
  padding: 2rem;
  margin: 1rem 0;
}

footer {
  background: #f39b18;
  color: #eef117;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}